* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global_container {
  height: calc(100vh - 84px);
  padding: 10px;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
