.form-view {
  --form-view-bg: #fff0c0;
  width: 58%;
  height: var(--h);
  box-shadow: $cardShadow;
  padding: 10px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  &__title {
    line-height: 50px;
    text-align: center;
  }
  &__warpper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .form-view__box {
      width: 100%;
    }
    .form_view_middle {
      display: flex;
      justify-content: center !important;
      flex-direction: column;
      align-items: center;
    }
    .form-view__box.active {
      background: var(--form-view-bg);
    }
    .form-view__group {
      width: 100%;
      min-height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
      &__item {
        width: 100%;
        vertical-align: top;
      }
    }
  }
  &__add_button {
    width: 100%;
  }
  .input_isLine {
    .el-input:not(.el-data-editor) {
      .el-input__inner {
        border-radius: 0;
        border: none;
        border-bottom: 1.5px solid #333333;
      }
    }
  }
}
